
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.title{
  display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: center;
  gap: 30px;
}
